    .photoyuri1 {
        position: absolute;
        height: 200px;
        width: 280px;
        margin: 120px 20px 250px 40px;
    }

    .pfpyuri {
        position: absolute;
        border-radius: 300px;
        height: 32px;
        width: 33px;
        margin: 125px 0px 0px 490px;
    }

    .yuri {
        position: absolute;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        width: 130px;
        background-color: #0000d1a8;
        font-family: arial;
        margin: 130px 20px 20px 340px;
        
    }

    .comentyuri {
        position: absolute;
        font-family: arial;
        font-size: 15px;
        margin: 170px 20px 20px 340px;

    }

    .photoamaral1 {
        position: absolute;
        height: 200px;
        width: 280px;
        margin: 340px 20px 20px 40px;
    }

    .amaral {
        position: absolute;
        text-align: center;
        border-radius: 5px;
        width: 150px;
        background-color: #0000d1a8;
        font-family: arial;
        margin: 350px 20px 20px 340px;

    }

    .comentamaral {
        position: absolute;
        font-family: arial;
        font-size: 15px;
        margin: 385px 20px 20px 340px;

    }

    .pfpamaral {
        cursor: pointer;
        position: absolute;
        border-radius: 300px;
        height: 32px;
        width: 33px;
        margin: 345px 0px 0px 510px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .posttroll {
        position: absolute;
        transform: rotate(270deg);
        height: 260px;
        width:160px;
        margin: 90px 20px 20px 690px;
    }

    .texttroll {
        position: absolute;
        font-family: 'Segoe UI';
        font-size: 15px;
        margin: 300px 20px 20px 640px;
    }

    img {
        cursor: pointer;
    }
    
    .imghover:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }