    html, body {
      margin: 0;
      padding: 0;
      overflow: hidden
    }
    .top {

        color: white;
        font-family: arial;
    }

    .yuribookup {
         position: fixed;
        text-align: left;
        font-size: 60px;
        margin: 10px 0px 0px 10px;
        width: 960px;
        padding-top:0px;
        padding-bottom: 0px;
        background-color: #0d0dcc;
    }
    
    .yuribookdown {
        position: fixed;
        font-size: 22px;
        margin: 77px 0px 0px 10px;
        width: 960px;
        padding-top:0px;
        padding-bottom: 0px;
        background-color: #0000d1a8;
        display: flex;
        justify-content: space-between;

    }