    .comp {
        font-family: arial;
        font-weight: bold;
        color: #ffffff;
    }

    .about {
        border: solid white 5px;
        text-align: center;
        border-radius: 10px;
        background-color: #0450b3;
        font-family: arial;
        font-size: 25px;
        width: 780px;
        height: 210px;
        color: black;
        margin: -45px 0px 0px 0px;
    }

    .local {
        border: solid white 5px;
        text-align: center;
        border-radius: 10px;
        background-color: #0450b3;
        font-family: arial;
        font-size: 27px;
        width: 780px;
        color: #ff7b00;
        margin: 50px 0px 0px 0px;
    }

    .border {
        border-top: solid #0450b3 5px;
    }