.cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* permite quebrar linha no celular */
    padding: 0px;
}

.card {
    width: 20%;
    aspect-ratio: 3 / 4;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .8s ease-in-out;
    cursor: pointer;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}


/* ===== FACES ===== */
.card-front,
.card-back {
    position: absolute;
    inset: 0;
    border-radius: 15px;
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    background: #111;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}


/* ===== INFORMAÇÃO NA FRENTE DO CARD ===== */
.card-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    color: #fff;
}

.card-title {
    margin: 0;
    font-size: 1.4rem;
}

.card-subtitle {
    margin-top: 5px;
    opacity: 0.9;
}

.link-flip-card {
  text-decoration: none;
  color: yellow;
}

.link-flip-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
