    body {
        font-family: 'Franklin Gothic Medium';
        background-color: #012be2;
    }

    h1 {
        background-color: yellow;
        margin: 0 auto;
        width: 100%;
        padding: 25px;
        text-align: center;          
        box-sizing: border-box;
    }

    h2 {
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
        font-style: italic;
        font-family: arial;
        margin: 0 auto;
        width: 100%;
    }
    
    img {
        display: block;
        margin: 0px auto;
        width: 470px;
        
    }

    a {
        text-decoration: none;
    }

.p1 {
    background-color: yellow;
    width: 330px;
    margin: 10px auto;
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    text-align: center;
    font-size: 28px;
    border: 5px solid black;
}

    .p2 {
        text-align: center;
        color: white;
        font-size: 20px;
        margin-top: 25px;
    }

    .sobre-mim {
        font-size: 55px;
        background-color: yellow;
        margin: 0 auto;
        width: 98%;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-family: sans-serif;
        border: 5px solid black;
    }